@import "../../styles/_variables.scss";

:local(.element) {
  position: fixed;
  bottom: $spacer!important;
  right: $spacer;
  background: $white;
  width: 350px;
  padding: $spacer;
  border: 1px solid $border-color;
}