@import "../../styles/_variables.scss";

:local(.element) {
  position: relative;
}

:local(.left) {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
}

:local(.right) {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
}

:local(.light) {
  :local(.left) {
    background-color: $light;
  }

  @include media-breakpoint-up(md) {
    background: linear-gradient(90deg, $light 50%, $white 50%);
  }
}

:local(.primary) {
  :local(.left) {
    color: $white;
    background: $primary;
  }

  ul li::before {
    color: $white;
  }

  @include media-breakpoint-up(md) {
    background: linear-gradient(90deg, $primary 50%, $white 50%);
  }
}

@include media-breakpoint-down(md) {
  :local(.container) {
    max-width: 100%;
  }
}

@include media-breakpoint-up(md) {
  :local(.left) {
    padding-right: $spacer * 3;
  }

  :local(.right) {
    padding-left: $spacer * 3;
  }
}
