@import "../../styles/_variables.scss";

:local(.element) {
  position: relative;
}

:local(.left) {
  color: $white;
  background: $primary;
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;

  ul li::before {
    color: $white
  }
}

:local(.right) {
  color: $black;
  background: $white;
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
}


@include media-breakpoint-up(lg) { 

  :local(.element) {
    background: linear-gradient(90deg, $primary 50%, $white 50%);
  }
  :local(.left) {
    padding-right: $spacer * 3;
  }

  :local(.right) {
    padding-left: $spacer * 3;
  }

}