@font-face {
  src: url("./GTAmerica/GTAmerica-Light.otf");
  font-family: "GT America";
}

@font-face {
  src: url("./GTAmerica/GTAmerica-Medium.otf");
  font-family: "GT America";
  font-weight: 500;
}

@font-face {
  src: url("./GTAmerica/GTAmerica-Bold.otf");
  font-family: "GT America";
  font-weight: 700;
}

@font-face {
  src: url("./TiemposFine/TiemposFine-Medium.otf");
  font-family: "Tiempos Fine";
  font-weight: 500;
}
