@import "../../styles/_variables.scss";

:local(.label) {
  font-weight: bold;
}

:local(.title) {
  margin-bottom: $spacer;
}

:local(.containerWithHover) {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
:local(.description) {
  color: $text-muted;
  font-size: 90%;
  text-align: justify;
}

:local(.color) {
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid $border-color;
  margin-right: $spacer / 4;
}

:local(.image) {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: $spacer;
  background-repeat: no-repeat;
  background-position: center center;
  // background-size: contain;
  background-size: cover;
}

:local(.price) {
  margin-top: $spacer / 2;
  font-family: $headings-font-family;
}

:local(.priceVat) {
  font-size: $small-font-size;
  color: $text-muted;
}

:local(.container) {
  margin-bottom: $grid-gutter-width;
}