@import "@styles/_variables.scss";

:local(.element) {
  position: relative;
  line-height: 0;
}

:local(.image) {
  width: 100%;
}

:local(.textWrapper) {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

:local(.text) {
  background: $white;
  margin: 0;
  font-size: 50px;
  display: inline;

  @include media-breakpoint-up(md) {
    font-size: 65px;
  }
}

