@import "@styles/_variables.scss";

:local(.newsletterText) {
  font-size: $small-font-size;
}

:local(.newsletterTitle) {
  color: $white;
  text-transform: uppercase;
  font-size: $small-font-size;
}
