@import "../../styles/_variables.scss";

:local(.container) {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-items: center;
}

:local(.info) {
  background: lighten($primary, 58%);
}

:local(.description) {
  padding: 2rem 3rem;
}

:local(.price) {
  padding: 1rem 3rem;
  background: lighten($primary, 65%);
}

:local(.image) {
   margin-right: 2rem;
}
