@import "../../styles/_variables.scss";

:local(.languageSelector) {
  text-transform: initial;
}

:local(.languageSelector) {
  display: none;
}

:local(.languageSelectorItem) {
  height: 20px;
  width: 20px;
  overflow: hidden;
  line-height: 0;
  margin-top: -4px;
  margin-right: 4px;
}
