h1,
.h1 {
  font-weight: normal;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding-left: 1rem;
  margin-bottom: 0;
}

// ul li::before {
//   content: "•";
//   color: $primary;
//   font-weight: bold;
//   display: inline-block;
//   width: 1em;
//   margin-left: -1em;
//   vertical-align: middle;
// }

.navbar .navbar-nav > .nav-link {
  transform: scale(1);
  transition: transform 0.2s;

  &:hover,
  &.active {
    color: $primary;
    transform: scale(1.1);
  }
}

.figure-img {
  margin-bottom: 0.2rem;
}

.figure-caption {
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
}

.form-control{
  border-width: 0 0 1px 0;
}