@import "@styles/_variables.scss";

:local(.element) {
  background-color: $breadcrumb-bg;
}

:local(.item) {
  font-family: $headings-font-family;
  text-transform: uppercase;
  color: $black;

  &:hover {
    text-decoration: none;
  }
}
