@import "@styles/_variables.scss";

:local(.element) {
  background-color: $breadcrumb-bg;
  font-size: $small-font-size;
}

:local(.item) {
  font-family: $headings-font-family;
  text-transform: uppercase;
  color: $black;
}

:local(.index) :local(.itemLabel) {
  display: none;
}

@include media-breakpoint-up(md) {
  :local(.element) {
    font-size: inherit;
  }

  :local(.index) {
    :local(.itemLabel) {
      display: inherit;
    }

    :local(.itemIcon) {
      margin-right: $spacer / 2;
    }
  }
}
