@import "@styles/_variables.scss";

:local(.container) {
  color: $gray-800;
  transform: scale(1);
  transition: transform 0.2s ease-out;
  margin-bottom: $spacer * 2;
}

:local(a.container:hover) {
  transform: scale(1.05);
}

:local(.image) {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

:local(.data) {
  background-color: $gray-100;
  padding: $spacer;
}

:local(.title) {
  color: $black;
  background-color: $white;
  text-transform: uppercase;
  padding: $spacer;
  margin: 0;
}

:local(.square) {
  padding-bottom: 100%;
}

:local(.horizontal) {
  padding-bottom: 50%;
}

:local(.vertical) {
  padding-bottom: 200%;
}
