@import "@styles/_variables.scss";

:local(.container) {
  transform: scale(1);
  transition: transform 0.2s ease-out;
  color: $text-muted;
}

:local(a.container:hover) {
  text-decoration: none;
  transform: scale(1.05);
}

:local(.image) {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: $spacer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

:local(.label) {
  font-weight: bold;
}

:local(.title) {
  color: $black;
  text-transform: uppercase;
  margin-bottom: $spacer / 2;
}

:local(.data) {
  color: $text-muted;
  font-size: 95%;
  margin-bottom: $spacer / 3;
}

:local(.dataLabel) {
  color: $text-muted;
}

:local(.color) {
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid $border-color;
  margin-right: $spacer / 4;
}

:local(.square) {
  padding-bottom: 100%;
}

:local(.horizontal) {
  padding-bottom: 50%;
}

:local(.vertical) {
  padding-bottom: 200%;
}