@import "../../styles/_variables.scss";

:local(.container:hover) {
  text-decoration: none;
}

// :local(.image) {
//   width: 100%;
//   overflow: hidden;
//   position: relative;
//   margin-bottom: $spacer;
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-size: cover;
// }
:local(.image) {
  width: 100%;
  margin-bottom: $spacer;
}

:local(.label) {
  font-weight: bold;
}

:local(.title) {
  color: $black;
  text-transform: uppercase;
  margin-bottom: $spacer / 2;
}

:local(.data) {
  color: $text-muted;
  font-size: 95%;
  margin-bottom: $spacer / 3;
}

:local(.dataLabel) {
  color: $text-muted;
  font-size: $small-font-size;
  text-transform: uppercase;
}

:local(.price) {
  margin-top: $spacer;
  font-family: $headings-font-family;
  color: $black;
  font-size: 1.1rem;
}

:local(.color) {
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid $border-color;
  margin-right: $spacer / 4;
}

:local(.priceVat) {
  font-size: $small-font-size;
  color: $text-muted;
}
