@import "@styles/_variables.scss";

:local(.container) {
  display: flex;
  flex-direction: column;
}

:local(.element)::after {
  content: "";
  display: flex;
  width: 20px;
  height: 3px;
  background: $primary;
  left: 0;
  position: absolute;
  margin-top: 0.2em;
}

:local(.element) {
  position: relative;
}
