:local(.galleryItem) {
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

:local(.galleryItem:hover) {
  transform: scale(1.05);
}

:local(.galleryItemImage) {
  width: 100%;
}

:local(.galleryModalImage) {
  width: 100%;
}

:local(.galleryModalPrevious) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

:local(.galleryModalNext) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
